/* Header */
.header {
    flex-direction: row;
}
.top {
    display: flex;
    width: 100%;
}
.return {
    display: flex;
    align-items: center;
    justify-items: center;
    position: absolute;
    margin: 50px 0 0 50px;
}
.return a {
    width: 100%;
    text-decoration: none;
    color: inherit;
}
.return i {
    font-size: 40px;
}
.logo {
    align-items: center;
    justify-self: center;
}

/* Main */
.main {
    display: flex;
    flex-direction: column;
}

/* BG */
.lne { background-image: url(../images/restaurants/carte2.jpg)}
.alf { background-image: url(../images/restaurants/carte3.jpg)}
.lpdg { background-image: url(../images/restaurants/carte1.jpg)}
.ldds { background-image: url(../images/restaurants/carte4.jpg)}

/* Head */
.head {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-size: cover;
    height: 600px;
    width: 100%;
    box-shadow: inset 0 10px 5px -5px #00000087;
}
.titre {
    display: flex;
    font-size: 30px;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(245, 245, 245);
    padding: 50px 30px 30px 30px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}
.titre h2 {
    font-family: Shrikhand;
    font-weight: normal;
    margin: 0;
}
.head img {
    width: 100%;
    object-fit: cover;
}
.titre i {
    text-shadow: 0 0 3px black;
}
.titre .fas {
    margin-right: 20px;
    font-size: 40px;
    color: rgb(245, 245, 245);
}
.titre i:hover {
    color: var(--violet);
    cursor: pointer;
    transition: color 0.3s linear;
}
.titre i:not(:hover) {
    color:rgb(245, 245, 245);
    transition: color 0.3s linear;
}

/* Menu */
.menu {
    background-color: rgb(245, 245, 245);
}
.menu h2 {
    font-weight: normal;
    font-size: 30px;
    margin: 30px 0 0 20px;
}
.menu .border {
    margin: 5px 0 25px 20px;
    width: 70px;
    height: 3px;
    color: var(--vert);
    border-bottom: 5px solid var(--vert);
}
.boxes {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    font-size: 25px;
}
.miam {
    display: flex;
    padding: 0 0 0 20px;
    background-color: white;
    box-shadow: 0 10px 15px #6161613d;
    border-radius: 20px;
    height: 100px;
    margin-bottom: 20px;
}
.miam .gauche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.miam .droite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 40px;
    color: white;
    background-color: var(--vert);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.miam h3 {
    font-size: 32px;
    margin: 0 0 8px 0;
}
.miam p {
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    margin-right: 10px;
}
.miam span {
    font-weight: bold;
    margin-right: 15px;
}

/* Order */
.order {
    display: flex;
    padding-top: 75px;
    justify-content: center;
    width: 100%;
    height: 225px;
    background-color: rgb(245, 245, 245);
}
.order .input {
    cursor: pointer;
    border-style: none;
    height: 100px;
    width: auto;
    font-size: 32px;
    color: white;
    border-radius: 200px;
    background-image: linear-gradient(350deg, var(--violet), var(--rose));
    box-shadow: 0 10px 15px #6161613d;
}