/* Header */
.header {
    flex-direction: row;
}
.top {
    display: flex;
    width: 100%;
}
.return {
    display: flex;
    align-items: center;
    justify-items: center;
    position: absolute;
    margin: 50px 0 0 50px;
}
.return a {
    width: 100%;
    text-decoration: none;
    color: inherit;
}
.return i {
    font-size: 40px;
}
.logo {
    align-items: center;
    justify-self: center;
}

/* Main */
.main {
    display: flex;
    flex-direction: column;
}

/* Head */
.head {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-image: url(../images/restaurants/carte3.jpg);
    background-size: contain;
    height: 600px;
    width: 100%;
}
.titre {
    display: flex;
    font-size: 30px;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(245, 245, 245);
    padding: 50px 30px 30px 30px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}
.titre h2 {
    font-family: Shrikhand;
    font-weight: normal;
    margin: 0;
}
.head img {
    width: 100%;
    object-fit: cover;
}
.titre i {
    text-shadow: 0 0 3px black;
}
.titre .fas {
    margin-right: 20px;
    font-size: 40px;
    color: rgb(245, 245, 245);
}
.titre i:hover {
    color: var(--violet);
    cursor: pointer;
    transition: color 0.3s linear;
}
.titre i:not(:hover) {
    color:rgb(245, 245, 245);
    transition: color 0.3s linear;
}

/* Menu */
.menu {
    background-color: rgb(245, 245, 245);
}