/* Partie Loader */

/* Partie Explore */
.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 245, 245);
    padding: 20px 0 50px 0;
}
.explore h1 {
    text-align: center;
    font-size: 25px;
    padding: 0 15%;
    margin-bottom: 10px;
}
.explore p {
    text-align: center;
    font-size: 18px;
    padding: 0 7%;
    margin-top: 10px;
}
.explore a {
    margin-top: 20px;
    margin-bottom: 60px;
}
.explore .input {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-style: none;
    height: 55px;
    width: auto;
    font-size: 16px;
    color: white;
    border-radius: 200px;
    background-image: linear-gradient(350deg, var(--violet), var(--rose));
    box-shadow: 0 10px 15px #6161613d;
    padding: 0 20px;
}
.input a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

/* Partie Fonction */
.fonction {
    display: flex;
    flex-direction: column;
    margin: 10px 25px 35px 25px;
}
.fonction h2 {
    font-size: 25px
}
.fonction .mini {
    display: flex;
    align-items: baseline;
    font-size: 17px;
}
.fonction .menu {
    display: flex;
    align-items: center;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    width: 100%;
    height: 80px;
    margin: 0 0 22px 12px;
    box-shadow: 0 10px 15px #6161613d;
}
.fonction .menu:hover {
    background-color: rgb(243, 235, 254);
}
.fonction .number {
    display: flex;
    height: 25px;
    width: 25px;
    margin-top: 27px;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    background-color: var(--violet);
    border-radius: 100%;
    font-size: 15px;
}
.fonction i {
    color: rgb(126, 126, 126);
    margin: 0 30px 0 10px;
}
.fonction i:hover {
    color: var(--violet);
}
.fonction p {
    font-weight: 600;
    margin-left: 70px;
}
.mini .fas {
    display: flex;
    padding: 0 0 0 29px;
    margin: 0;
    position: absolute;
    width: auto;
}

/* Partie Restaurants */
.restaurants {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    padding: 40px 25px 70px 25px;
}
.restaurants h2 {
    font-size: 25px;
    margin-bottom: 10px;
}
.restaurants .brand p {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(27, 132, 101);
    font-size: 15px;
    background-color: rgb(147, 224, 203);
    margin: 15px 0 0 0;
    padding: 8px 14px;
    border-radius: 4px;
}
.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 260px;
    background-color: white;
    box-shadow: 0 10px 15px #6161613d;
    border-radius: 15px;
    margin: 20px 0 20px;
}
.card .link {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-decoration: inherit;
    color: inherit;
}
.card img {
    height: 68%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card .infos {
    display: flex;
    flex-direction: column;
}
.infos h3 {
    font-size: 20px;
    margin: 20px 0 0 10px;
}
.infos p {
    margin: 5px 0 0 10px;
    font-size: 20px;
}
.infos .fas {
    display: flex;
    align-self: flex-end;
    font-size: 25px;
    color: white;
}
.infos i {
    margin: 30px 30px 0 0;
    position: absolute;
    text-shadow: 0 0 3px black;
}
.infos i:hover {
    color: var(--violet);
    cursor: pointer;
    transition: color 0.3s linear;
}
.infos i:not(:hover) {
    color:white;
    transition: color 0.3s linear;
}
.brand {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.heart {
    display: flex;
}

@media screen and (min-width: 992px) {
    .explains {
        display: flex;
        flex-direction: row;
    }
    .mini {
        margin: 0 10px 0 10px;
        flex: 1;
    }
    .menus {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        min-width: 40%;
        flex: 1;
        margin-left: 10px;
        margin-right: 10px;
    }
}