/* On importe les polices */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,800&display=swap');

/* Main */
:root {
    --violet: #9356DC;
    --rose: #FF79DA;
    --vert: #99E2D0;
}
#bloc-page {
    width: 900px;
    margin: auto;
}
body {
    font-family: Roboto, sans-serif;
}
footer h1 {
    font-family: Shrikhand, sans-serif;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    display: flex;
    margin: 20px 0 10px 0;
    padding: 30px 0 20px 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.logo img {
    height: 50px;
}
.location {
    display: flex;
    align-items: baseline;
    font-size: 30px;
    width: 100%;
    justify-content: center;
    background-color: rgb(231, 231, 231);
    box-shadow: inset 0 10px 5px #6161613d;
    padding-top: 10px;
}
.location p {
    margin-right: 40px;
}
.location i {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gps {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    padding: 20px 25px 50px 25px;
    background-color: rgb(48, 48, 48);
    color: white
}
.footer h1 {
    margin: 20px 0 0 0;
    font-size: 33px;
    font-weight: normal;
}
.footer p {
    margin: 0;
}
.footer a {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white
}
.footer ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}
.footer li {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 20px;
}
.footer .fas {
    width: 40px;
    display: flex;
    align-items: center;
}